<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div>
        <h3 style="background-color:black; color:white;"> 헤더 부분입니다. </h3>
        <div class="nickname"></div>
        <a href="/"> 홈 </a>
        <a href="/member/signup"> 회원가입 </a>
        <a href="/member/login"> 로그인 </a>
        <div class="logout"></div>

    </div>

    <div class="if_login">
        <!-- ( : 이름,전화번호 일치 할 경우 아이디 알려주기 )  -->
        <a href="/member/findid">아이디찾기[과제]</a>

        <!-- ( : 아이디와 전화번호 일치 할 경우 임시비밀번호[난수6자리] 변경후 알려주기 )  -->
        <a href="/member/findpw">비밀번호찾기[과제]</a>

        <!-- (로그인되어있는경우 만 가능 : 비밀번호 재입력받아 일치할경우 탈퇴  )  -->
        <a href="/member/delete">회원탈퇴[과제]</a>

        <!-- (로그인되어있는경우 만 가능 : 이름,이메일,전화번호 변경 )  -->
        <a href="#">회원수정[과제]</a>
    </div>

    <h3> 로그인 정보 </h3>
    <div class="info">

    </div>

    <div>
        <h3> 본문 입니다. </h3>
    </div>

    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="/js/member.js"></script>
</body>
</html>