<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <a href="/"> 홈 </a>
  <h3> 로그인 </h3>

  <form action="/member/login" method="post">
      아이디[이메일] : <input type="text" name="memail"> </br>
      비밀번호 :  <input type="text" name="mpw"> </br>
      <button onclick="onLogin()" type="button"> 가입하기</button>
  </form>

  <script src="http://code.jquery.com/jquery-latest.min.js"></script>
  <script src="/js/member.js"></script>
</body>
</html>