<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div>
      <a href="/"> 홈 </a>
      <h3> 회원가입 </h3>

        <form >
            아이디[이메일] : <input type="text" class="memail"> </br>
            비밀번호 :  <input type="text" class="mpw"> </br>
            전화번호 :  <input type="text" class="mphone"> </br>
            이름 :  <input type="text" class="mname"> </br>
            <button onclick="onSignup()" type="submit"> 가입하기</button>
        </form>

        <script src="http://code.jquery.com/jquery-latest.min.js"></script>
        <script src="/js/member.js"></script>

    </div>
</body>
</html>